@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lexend:wght@100..900&display=swap');
@import url("navfoot.css");
/* Import fontů */
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lexend:wght@100..900&display=swap');

/* Základní nastavení */
html {
    margin: 0;
    padding: 0;
}

body {
    background: url(../pic/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Lexend;
}

/* Kontainer formuláře */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0); /* Poloprůhledné pozadí */
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.login_container {
    position: relative;
    backdrop-filter: blur(25px); /* Efekt rozostření pozadí */
    width: 450px;
    padding: 7.5em 2.5em 4em 2.5em;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: 0,0,0,0.2;
    color: rgba(0, 0, 0, 0.8);
}

/* Titulek formuláře */
.login_title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 180px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_title span {
    font-size: 30px;
    color: black;
}



/* Styl pro vstupní pole */
.input_wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    position: relative;
}

.input_field {
    width: 90%;
    height: 50px;
    font-size: 16px;
    color: black;
    background: transparent;
    padding-inline: 35px 1px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: white;
}

.input_field:focus ~ .label,
.input_field:valid ~ .label {
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    border-radius: 30px;
    padding: 0 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
}

/* Ikony v input polích */
.icon {
    position: absolute;
    font-size: 20px;
    top: 18px;
    right: 25px;
}

/* Pohlaví (radio buttons) */
.input_wrapper label {
    display: inline-block;
    margin-right: 15px;  /* Mezery mezi jednotlivými možnostmi */
    font-size: 16px;
    font-weight: normal;
}

input[type="radio"] {
    margin-right: 5px;  /* Vytvoření mezery mezi rámečkem a textem */
}

/* Button pro odeslání */
.input-submit {
    width: 100%;
    height: 50px;
    background: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    transition: 0.3s;
}

.input-submit:hover {
    background: rgb(54, 50, 50);
    color: white;
}

/* Odkaz pro přihlášení */
.signup {
    text-align: center;
    font-weight: 500;
}

.signup a {
    color: black;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

/* Responzivní design */
@media only screen and (max-width: 564px) {
    .container {
        padding: 20px;
    }

    .login_container {
        padding: 7.5em 1.5em 4em 1.5em;
    }
}
