@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lexend:wght@100..900&display=swap');
@import url("navfoot.css");
html {
    margin: 0;
    padding: 0;
}

body {
    background: url(../pic/back.jpg) no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

H2 {
    font-family: Lexend;
    font-size: 10rem;
}